<script type="text/javascript">
  var navigation = responsiveNav("#nav");
</script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.tonenvoorbeeld').bind('click', function() {
        $('#voorbeeld_tracktrace').fadeIn();
    });

    $(".linkherkenbaarheid").click(function(event) {
      event.preventDefault();
      $(".imgherkenbaarheid").toggle( "slow", function() {

      });
    });

  });
</script>

<script type="text/javascript" language="javascript">
  function getTestCookie(index) {
    var allcookies = document.cookie;
    var pos = allcookies.indexOf(index + "=");
    if (pos == -1) return null;
    var start = pos + (index.length + 1);
    var end = allcookies.indexOf(";", start);
    if (end == -1) end = allcookies.length;
    var value = allcookies.substring(start, end);
    return value;
  }

  function checkCookie(CookieName) {
    var permissionCookie = getTestCookie(CookieName);
    if (permissionCookie != null && permissionCookie != "") {
    } else {
      TOL_showToestemming && TOL_showToestemming();
    }
  }

  checkCookie("CookiePermissionInfo");
</script>
<script type="text/javascript">
  $( '[type=date], .datepicker' ).pickadate({
    monthsFull: [ 'januari', 'februari', 'maart', 'april', 'mei', 'juni', 'juli', 'augustus', 'september', 'oktober', 'november', 'december' ],
    monthsShort: [ 'jan', 'feb', 'maa', 'apr', 'mei', 'jun', 'jul', 'aug', 'sep', 'okt', 'nov', 'dec' ],
    weekdaysFull: [ 'zondag', 'maandag', 'dinsdag', 'woensdag', 'donderdag', 'vrijdag', 'zaterdag' ],
    weekdaysShort: [ 'zo', 'ma', 'di', 'wo', 'do', 'vr', 'za' ],
    today: 'vandaag',
    clear: 'verwijderen',
    firstDay: 1,
    format: 'dd-mm-yyyy',
    formatSubmit: 'dd-mm-yyyy'
  })
</script>

<script type="text/javascript">
  (function restoreFormData() {
    'use strict';

    var formData = localStorage.postNLForm,
      $form = $('.js-show-me-if');

    if (formData) {
      try {
        formData = JSON.parse(formData);
        for (var i = 0; i < formData.length; i++ ) {
          var field = formData[i],
            $f = $form.find(':input[name="' + field.name + '"]');

          if ($f.length) {
            var fieldType = $f[0].type;
            if (fieldType === 'hidden') {
              continue;
            }

            if (['radio', 'checkbox'].indexOf(fieldType) !== -1) {
              $f.filter('[value="' + field.value + '"]').prop('checked', true);
            } else {
              $f.val(field.value);
            }

            $f.change();
          }
        }

        setTimeout(function () {
          $form.find('input:radio:disabled:checked').each(function () {
            $form.find('input[name="' + this.name + '"][value="' + this.value + '"]:radio:enabled').prop('checked', true);
          });
        }, 300);

      } catch (e) {
        console.error(e);
      }
    }

    // for some reason Firefox and IE disables submit button
    // when returning from step 2, enable it explicitly
    setTimeout(function () {
      $form.find(':submit').prop('disabled', false);
    }, 0);
  })();
</script>
