<hr class="orangehr">
<div class="accordion-inhoud">
  <div class="accordion-header ">
    <div class="accordion-nr">
      <div class="orangecircle" data-if="!.lost-package && !.trackja">3.</div>
      <div class="orangecircle" data-if=".trackja">4.</div>
      <div class="orangecircle" data-if=".lost-package && !.trackja && !.verzendert && !.ontvangert">5.</div>
      <div class="orangecircle" data-if=".lost-package && !.trackja && (.ontvangert || (.verzendert && !hoeveel_poststukken_mist_u))">7.</div>
      <div class="orangecircle" data-if=".lost-package && !.trackja && #hoeveel_poststukken_mist_u_1">9.</div>
      <div class="orangecircle" data-if=".lost-package && !.trackja && #hoeveel_poststukken_mist_u_meer">10.</div>
    </div>
    <h2>Geef eventueel een toelichting</h2>
  </div>
  <div class="accordion-content">
    <fieldset class="odd" data-extra="2">
      <div class="input">
        <textarea class="js-char-count" name="vraag_omschrijving" title="Geef eventueel een toelichting" maxlength="1000" ></textarea>
      </div>
    </fieldset>
    <div class="clear">&nbsp;</div>
  </div>
</div>
<div class="clear">&nbsp;</div>
