<hr class="orangehr">
<div class="accordion-inhoud">
  <div class="accordion-header ">
    <div class="accordion-nr">
      <div class="orangecircle" data-if=".lost-package && !.trackja">4.</div>
      <div class="orangecircle" data-if="!.lost-package || (.lost-package && .trackja)">3.</div>
    </div>
    <h2>Is uw post of pakket binnen of buiten Nederland verzonden?</h2>
  </div>
  <div class="accordion-content">
    <fieldset id="binnen_buiten_nederlandCtn" class="odd">
      <div class="input"><input id="51546077e9fce" class="binnen" title="Maak uw keuze" type="radio"
                                name="binnen_buiten_nederland" value="Binnen Nederland"
                                alt="1|varchar|100" disabled="disabled"> <label
        style="font-weight: normal;" for="51546077e9fce">
        <span>&nbsp;</span>
        Binnen Nederland</label> <input id="51546077ea04f" class="buiten" title="Maak uw keuze"
                                        type="radio" name="binnen_buiten_nederland"
                                        value="Buiten Nederland" alt="" disabled="disabled"> <label
        style="font-weight: normal;" for="51546077ea04f">
        <span>&nbsp;</span>
        Buiten Nederland</label></div>
      <div id="binnen_buiten_nederland_error" class="error">&nbsp;</div>
      <!-- <div class="info" style="display:none;">Woont u in het buitenland? Dan raden wij u aan klantenservice te bellen, zij helpen u dan direct verder.</div> -->
    </fieldset>
    <div class="clear">&nbsp;</div>
  </div>
</div>
<div class="clear">&nbsp;</div>
