<hr class="orangehr"/>
<div class="accordion-inhoud">
  <div class="accordion-header ">
    <div class="accordion-nr">
      <div class="orangecircle staptracktraceja" data-if=".ontvangert">5.</div>
      <div class="orangecircle staptracktraceja" data-if="#hoeveel_poststukken_mist_u_meer">6.</div>
    </div>
    <h2>Vul het aantal poststukken in</h2>
  </div>
  <div class="accordion-content">
    <fieldset id="poststukken_invulveldCtn" class="even">
      <div class="input">
        <input title="Vul het aantal poststukken in" type="text" name="poststukken_invulveld" value="" size="40" alt="1|numeric|1">
      </div>
      <div id="poststukken_invulveld_error" class="error">&nbsp;</div>
    </fieldset>
    <div class="clear">&nbsp;</div>
  </div>
  <div class="clear">&nbsp;</div>
</div>
<div class="clear">&nbsp;</div>
