<hr class="orangehr">
<div class="accordion-inhoud">
  <div class="accordion-header ">
    <div class="accordion-nr">
      <div class="orangecircle staptracktraceja">5.</div>
    </div>
    <h2>Hoeveel poststukken mist u?</h2>
  </div>
  <div class="accordion-content">
    <fieldset id="hoeveel_poststukken_mist_uCtn" class="even">
      <div class="input">
        <input id="hoeveel_poststukken_mist_u_1" class="hoeveel_poststukken_mist_u_1"
               title="Hoeveel poststukken mist u?" type="radio"
               name="hoeveel_poststukken_mist_u" value="1 poststuk"
               alt="1|varchar|100">
        <label style="font-weight: normal;" for="hoeveel_poststukken_mist_u_1">
          <span>&nbsp;</span>1 poststuk
        </label>

        <input id="hoeveel_poststukken_mist_u_meer" class="hoeveel_poststukken_mist_u_meer"
               title="Hoeveel poststukken mist u?" type="radio"
               name="hoeveel_poststukken_mist_u" value="meer dan 1 poststuk" alt="1|varchar|100">
        <label style="font-weight: normal;" for="hoeveel_poststukken_mist_u_meer">
          <span>&nbsp;</span>Meer dan 1 poststuk
        </label>
      </div>
      <div id="hoeveel_poststukken_mist_u_error" class="error">&nbsp;</div>
    </fieldset>
    <div class="clear">&nbsp;</div>
  </div>
</div>
<div class="clear">&nbsp;</div>
