<hr class="orangehr">
<div class="accordion-inhoud">
  <div class="accordion-header ">
    <div class="accordion-nr">
      <div class="orangecircle" data-if=".lost-package">3.</div>
      <div class="orangecircle" data-if="!.lost-package">4.</div>
    </div>
    <h2>Wanneer is de post aangekomen / werd de post verwacht?</h2>
  </div>
  <div class="accordion-content">
    <fieldset id="post_aangekomen_verwacht_datumCtn" class="even" data-extra="5">
      <label class="req" style="text-align: left; margin-left: 20px;">Datum:</label>
      <div class="input">
        <input class="datepicker" title="Kies uw datum" type="text"
              name="post_aangekomen_verwacht_datum" value="" size="40" maxlength="50"
              alt="1|varchar|50" readonly="">
        <input type="hidden" name="post_aangekomen_verwacht_datum_submit" value="">
      </div>
      <div id="post_aangekomen_verwacht_datum5_error" class="error">&nbsp;</div>
    </fieldset>
    <div class="clear">&nbsp;</div>
  </div>
</div>
<div class="clear">&nbsp;</div>
