@@include('./steps/track-trace-code.html')

<div class="trackgevuld" data-if=".trackja">
  @@include('./steps/inbound-outbound.html')
  <div data-if=".lost-package">
    @@include('./steps/details.html')
  </div>
</div>

<div data-if="!.lost-package && track_trace">
  @@include('./steps/details.html')
</div>

<!-- Wanneer is de post aangekomen / werd de post verwacht -->
<div class="tracknietgevuld" data-if=".tracknee || .trackgeenidee">
  @@include('./steps/no-track-code.html')
</div>
<!-- Wanneer is de post aangekomen / werd de post verwacht -->

<!-- Bent u de verzender of ontvanger -->
<div class="verzenderontvanger" data-if=".trackja || .tracknee || .trackgeenidee">
  @@include('./steps/sender-or-recipient.html')
</div>
<!-- Bent u de verzender of ontvanger -->

<!-- Hoeveel poststukken mist u -->
<div class="hoeveel_poststukken_mist_u" data-if=".lost-package && (.tracknee || .trackgeenidee) && .verzendert">
  @@include('./steps/missing-count.html')
</div>
<!-- Hoeveel poststukken mist u -->

<!-- Vul het aantal poststukken in -->
<div data-if="(.lost-package && (.tracknee || .trackgeenidee)) && (.ontvangert || (.verzendert && #hoeveel_poststukken_mist_u_meer))">
  @@include('./steps/input-multiple-missing.html')
</div>
<!-- Vul het aantal poststukken in -->

<!-- Heeft u vaker post naar dit adres gestuurd -->
<div data-if="(.lost-package && (.tracknee || .trackgeenidee)) && (.verzendert && #hoeveel_poststukken_mist_u_1)">
  @@include('./steps/send-often.html')
</div>
<!-- Heeft u vaker post naar dit adres gestuurd END -->

<div data-if="(.lost-package && (.tracknee || .trackgeenidee)) && (.verzendert && #hoeveel_poststukken_mist_u_meer)">
  <!-- Vanaf welke locatie heeft u de post verstuurd -->
  @@include('./steps/sent-from.html')
  <!-- Vanaf welke locatie heeft u de post verstuurd END -->

  <!-- Waar heeft u deze poststukken afgeleverd -->
  @@include('./steps/sent-to.html')
  <!-- Waar heeft u deze poststukken afgeleverd END -->
</div>

<div class="stap6_binnen_nl" data-if="(.trackgeenidee || .tracknee || .binnen) && verzender_ontvanger">
  @@include('./steps/sender-recipient-nl.html')
</div>

<div class="stap6_buiten_nl" data-if=".buiten && verzender_ontvanger">
  @@include('./steps/sender-recipient-not-nl.html')
</div>

<!--- Gegevens bezorgadres -->
<div class="bezorgcontact" data-if=".verzendert && ((.trackja && binnen_buiten_nederland) || (.lost-package && #hoeveel_poststukken_mist_u_1) || (!.lost-package && (binnen_buiten_nederland || (.tracknee || .trackgeenidee))))">
  @@include('./steps/recipient-address.html')
</div>
<!--- Gegevens bezorgadres -->

<!-- Geef eventueel een toelichting -->
<div data-if=".lost-package && (.tracknee || .trackgeenidee)">
  @@include('./steps/details.html')
</div>
<!-- Geef eventueel een toelichting -->
