<div class="portokaartvelden" data-if=".portokaart"><!-- SHOW HIDE PORTOKAART VELDEN --><!-- INPUT 2 -->
  <hr class="orangehr">
  <div class="accordion-inhoud">
    <div class="accordion-header ">
      <div class="accordion-nr">
        <div class="orangecircle">2.</div>
      </div>
      <h2>Geef eventueel een toelichting</h2>
    </div>
    <div class="accordion-content">
      <fieldset id="vraag_omschrijvingCtn" class="odd" data-extra="1">
        <div class="input"><textarea alt="1|text" cols="60" class="js-char-count" name="vraag_omschrijving"
                                     rows="10" title="Omschrijf uw vraag" maxlength="1000"
                                    ></textarea></div>
        <div id="vraag_omschrijving1_error" class="error">&nbsp;</div>
      </fieldset>
      <div class="clear">&nbsp;</div>
    </div>
  </div>
  <div class="clear">&nbsp;</div>
                                                    <!--=============================== Eind INPUT 2 ================================-->
                                                    <!--========================================= 3 =======================================-->
  <hr class="orangehr">
  <div class="accordion-inhoud">
    <div class="accordion-header ">
      <div class="accordion-nr">
        <div class="orangecircle">3.</div>
      </div>
      <h2>Wanneer is de post aangekomen / werd de post verwacht?</h2>
    </div>
    <div class="accordion-content">
      <fieldset id="post_aangekomen_verwacht_datumCtn" class="even" data-extra="3">
        <div class="input"><input class="datepicker" title="Kies uw datum" type="text"
                                  name="post_aangekomen_verwacht_datum" value="" size="40" maxlength="50"
                                  alt="1|varchar|50" readonly="">

          <input type="hidden" name="post_aangekomen_verwacht_datum_submit" value="">
        </div>
        <div id="post_aangekomen_verwacht_datum3_error" class="error">&nbsp;</div>
      </fieldset>
      <div class="clear">&nbsp;</div>
    </div>
  </div>
  <div class="clear">&nbsp;</div>
                                                    <!--=================================== Eind 3 ==================================-->
                                                    <!-- ======================================4 =================================== -->
  <hr class="orangehr">
  <div class="accordion-inhoud">
    <div class="accordion-header ">
      <div class="accordion-nr">
        <div class="orangecircle">4.</div>
      </div>
      <h2>Heeft u een <a class="tooltiplink" title="De betaalcode kunt u vinden op de portokaart." href="#"
                         rel="tooltip">betaalcode</a>?</h2>
    </div>
    <div class="accordion-content">
      <fieldset id="betaalcodeCtn" class="odd">
        <div class="input">
          <input id="51546077ea1ff" class="betaalcode" title="Maak uw keuze" type="radio" name="betaalcode" value="Ja" alt="1|varchar|100">
          <label style="font-weight: normal;" for="51546077ea1ff"><span>&nbsp;</span> Ja, ik heb een betaalcode</label>

          <input id="51546077ea281" class="geenbetaalcode" title="Maak uw keuze" type="radio" name="betaalcode" value="Nee" alt="">
          <label style="font-weight: normal;" for="51546077ea281"><span>&nbsp;</span>Nee, ik heb geen betaalcode</label>
        </div>
      </fieldset>
      <div id="betaalcode_error" class="error">&nbsp;</div>
      <!-- JA BETAALCODE --><!-- SHOW/HIDE betaalcode -->
      <div class="jabetaalcode" data-if=".betaalcode">
        <fieldset id="betaalcode_invulveldCtn" class="even">
          <label class="req">Betaalcode:</label>
          <div class="input">
            <input title="Uw betaalcode" type="text" name="betaalcode_invulveld" value=""
                                    size="40" maxlength="100" alt="1|varchar|100">
          </div>
          <div id="betaalcode_invulveld_error" class="error">&nbsp;</div>
        </fieldset>
      </div>
      <!-- EIND SHOW/HIDE betaalcode -->
      <div class="clear">&nbsp;</div>
    </div>
  </div>
  <div class="clear">&nbsp;</div>
                                                    <!--=================================== EInd 4 ===============================-->
                                                    <!--===================================== 5 ==================================-->
  <hr class="orangehr">
  <div class="accordion-inhoud">
    <div class="accordion-header ">
      <div class="accordion-nr">
        <div class="orangecircle">5.</div>
      </div>
      <h2>Uw gegevens</h2>
    </div>
    <div class="accordion-content">
      <fieldset id="geslachtCtn" class="even" data-extra="5"><label class="req">Geslacht:</label>

        <div class="input"><input id="51546077e903d" title="Maak uw keuze" type="radio" name="geslacht"
                                  value="M" alt="1|varchar|100"> <label
          style="font-weight: normal;" for="51546077e903d">
          <span>&nbsp;</span>
          Man</label> <input id="51546077e90d8" title="Maak uw keuze" type="radio" name="geslacht" value="V"
                             alt=""> <label style="font-weight: normal;"
                                                                for="51546077e90d8">
          <span>&nbsp;</span>
          Vrouw</label></div>
        <div id="geslacht5_error" class="error">&nbsp;</div>
      </fieldset>
      <fieldset id="voornaamCtn" class="odd" data-extra="5"><label class="req">Voornaam:</label>

        <div class="input"><input title="Uw voornaam" type="text" name="voornaam" value="" size="40"
                                  maxlength="100" alt="1|varchar|100"></div>
        <div id="voornaam5_error" class="error">&nbsp;</div>
      </fieldset>
      <fieldset id="tussenvoegselCtn" class="even"><label>Tussenvoegsel:</label>

        <div class="input"><input title="Tussenvoegsel" type="text" name="tussenvoegsel" value="" size="4"
                                  maxlength="10" alt="0|varchar|10"></div>
        <div class="error">&nbsp;</div>
      </fieldset>
      <fieldset id="achternaamCtn" class="odd" data-extra="5"><label class="req">Achternaam:</label>

        <div class="input"><input title="Uw achternaam" type="text" name="achternaam" value="" size="40"
                                  maxlength="100" alt="1|varchar|100"></div>
        <div id="achternaam5_error" class="error">&nbsp;</div>
      </fieldset>
      <fieldset id="emailCtn" class="odd" data-extra="5"><label class="req">E-mailadres:</label>

        <div class="input"><input title="Uw e-mailadres" type="text" name="email" value="" size="40"
                                  maxlength="100" alt="1|email|100"></div>
        <div class="vbinput">(gebruiker@domein.nl)</div>
        <div id="email5_error" class="error">&nbsp;</div>
      </fieldset>
      <fieldset id="telefoonnummerCtn" class="even" data-extra="5"><label class="req">Telefoonnummer:</label>

        <div class="input"><input title="Uw telefoonnummer" type="text" name="telefoonnummer" value=""
                                  size="40" maxlength="10" alt="1|varchar|10" data-regexp="/^\d{10}$/"
                                 ></div>
        <div class="vbinput">(0701234567)</div>
        <div id="telefoonnummer5_error" class="error">&nbsp;</div>
      </fieldset>
      <div class="clear">&nbsp;</div>
    </div>
  </div>
  <div class="clear">&nbsp;</div>
                                                    <!--======================================================== Eind 5 =========================================-->
                                                    <!--================================================================ 6 ====================================================-->
  <hr class="orangehr">
                                                    <!-- FORM 1 Bezorgadres -->
  <div class="info">Zendingen van PostNL herkent u aan de postzegel of port betaald-stempel van PostNL. U kunt
                    het ook navragen bij de verzender.
  </div>
  <div class="accordion-inhoud">
    <div class="accordion-header ">
      <div class="accordion-nr">
        <div class="orangecircle">6.</div>
      </div>
      <h2>Gegevens bezorgadres</h2>
    </div>
    <div class="accordion-content">
      <fieldset id="bezorgadres_postcodeCtn" class="even" data-extra="6"><label class="req">Postcode:</label>

        <div class="input"><input title="Let op: er is geen geldige postcode ingevuld." type="text"
                                  name="bezorgadres_postcode" value="" size="8" maxlength="6"
                                  alt="1|varchar|6" data-regexp="/^\d{4}[A-Z]{2}$/"></div>
        <div class="vbinput">(0000AA)</div>
        <div id="bezorgadres_postcode6_error" class="error">&nbsp;</div>
      </fieldset>
      <fieldset id="bezorgadres_huisnummerCtn" class="odd" data-extra="6"><label
        class="req">Huisnummer:</label>

        <div class="input"><input title="Let op: er is nog geen huisnummer ingevuld." type="text"
                                  name="bezorgadres_huisnummer" value="" size="4" maxlength="10"
                                  alt="1|varchar|10"></div>
        <div id="bezorgadres_huisnummer6_error" class="error">&nbsp;</div>
      </fieldset>
      <fieldset id="bezorgadres_huisnummer_toevoegingCtn" class="odd"><label class="req">Toevoeging:</label>

        <div class="input"><input title="Toevoeging" type="text" name="bezorgadres_huisnummer_toevoeging"
                                  value="" size="4" maxlength="15" alt="0|varchar|15">
        </div>
        <div class="error">&nbsp;</div>
      </fieldset>
      <fieldset id="bezorgadres_straatnaamCtn" class="even" data-extra="6"><label
        class="req">Straatnaam:</label>

        <div class="input"><input title="Let op: er is nog geen straatnaam ingevuld." type="text"
                                  name="bezorgadres_straatnaam" value="" size="40" maxlength="100"
                                  alt="1|varchar|100"></div>
        <div class="vbinput">(Automatisch gevuld)</div>
        <div id="bezorgadres_straatnaam6_error" class="error">&nbsp;</div>
      </fieldset>
      <fieldset id="bezorgadres_woonplaatsCtn" class="odd" data-extra="6"><label
        class="req">Woonplaats:</label>

        <div class="input"><input title="Let op: er is nog geen woonplaats ingevuld." type="text"
                                  name="bezorgadres_woonplaats" value="" size="40" maxlength="100"
                                  alt="1|varchar|100"></div>
        <div class="vbinput">(Automatisch gevuld)</div>
        <div id="bezorgadres_woonplaats6_error" class="error">&nbsp;</div>
      </fieldset>
      <div class="clear">&nbsp;</div>
    </div>
  </div>
  <div class="clear">&nbsp;</div>
                                                    <!--==================================================================== Eind 6 ================================================================-->
</div>
