<hr class="orangehr">
<div class="accordion-inhoud">
  <div class="accordion-header ">
    <div class="accordion-nr">
      <div class="orangecircle staptracktraceja" data-if="(!.lost-package || .trackja) || ((.lost-package || !.trackja) && !hoeveel_poststukken_mist_u)">7.</div>
      <div class="orangecircle staptracktracenee" data-if="#hoeveel_poststukken_mist_u_1">8.</div>
      <div class="orangecircle staptracktracenee" data-if="#hoeveel_poststukken_mist_u_meer">10.</div>
    </div>
    <h2>Gegevens bezorgadres</h2>
  </div>
  <div class="accordion-content">
    <!-- =============================================== BINNEN NEDERLAND =============================================== -->
    <div class="binnenNL" data-if=".verzendert && ((.tracknee || .trackgeenidee) || .binnen) && !(.lost-package && #hoeveel_poststukken_mist_u_meer)">
      <fieldset id="bezorgadres_postcodeCtn" class="even"><label class="req">Postcode:</label>

        <div class="input"><input class="bezorgadres_postcodestap8" title="Postcode bezorgadres"
                                  type="text" name="bezorgadres_postcode" value="" size="8" maxlength="6"
                                  alt="1|varchar|6" data-regexp="/^\d{4}[A-Z]{2}$/"></div>
        <div class="vbinput">(0000AA)</div>
        <div id="bezorgadres_postcode_error" class="error">&nbsp;</div>
      </fieldset>
      <fieldset id="bezorgadres_huisnummerCtn" class="odd"><label class="req">Huisnummer:</label>

        <div class="input"><input class="bezorgadres_huisnummerstap8" title="Huisnummer bezorgadres"
                                  type="text" name="bezorgadres_huisnummer" value="" size="4"
                                  maxlength="10" alt="1|varchar|10"></div>
        <div id="bezorgadres_huisnummer_error" class="error">&nbsp;</div>
      </fieldset>
      <fieldset id="bezorgadres_huisnummer_toevoegingCtn" class="odd"><label
        class="req">Toevoeging:</label>

        <div class="input"><input class="bezorgadres_huisnummer_toevoegingstap8" title="Toevoeging"
                                  type="text" name="bezorgadres_huisnummer_toevoeging" value="" size="4"
                                  maxlength="15" alt="0|varchar|15"></div>
        <div class="error">&nbsp;</div>
      </fieldset>
      <fieldset id="bezorgadres_straatnaamCtn" class="even"><label class="req">Straatnaam:</label>

        <div class="input"><input class="bezorgadres_straatnaamstap8" title="Straatnaam bezorgadres"
                                  type="text" name="bezorgadres_straatnaam" value="" size="40"
                                  maxlength="100" alt="1|varchar|100"></div>
        <div class="vbinput">(Automatisch gevuld)</div>
        <div id="bezorgadres_straatnaam_error" class="error">&nbsp;</div>
      </fieldset>
      <fieldset id="bezorgadres_woonplaatsCtn" class="odd"><label class="req">Woonplaats:</label>

        <div class="input"><input class="bezorgadres_woonplaatsstap8" title="Woonplaats bezorgadres"
                                  type="text" name="bezorgadres_woonplaats" value="" size="40"
                                  maxlength="100" alt="1|varchar|100"></div>
        <div class="vbinput">(Automatisch gevuld)</div>
        <div id="bezorgadres_woonplaats_error" class="error">&nbsp;</div>
      </fieldset>
      <!--===============================================  EIND BINNEN NEDERLAND =============================================== -->
    </div>

    <!-- =============================================== BUITEN NEDERLAND ===============================================-->
    <div class="buitenNL" data-if=".verzendert && .buiten">
      <fieldset id="bezorgadresbtnl_postcodeCtn" class="even"><label class="req">Postcode:</label>

        <div class="input"><input title="Postcode" type="text" name="bezorgadresbtnl_postcode" value=""
                                  size="10" maxlength="10" alt="1|varchar|10"></div>
        <div id="bezorgadresbtnl_postcode_error" class="error">&nbsp;</div>
      </fieldset>
      <fieldset id="bezorgadresbtnl_huisnummerCtn" class="odd"><label class="req">Huisnummer:</label>

        <div class="input"><input title="Huisnummer" type="text" name="bezorgadresbtnl_huisnummer"
                                  value="" size="10" maxlength="10" alt="1|varchar|10"></div>
        <div id="bezorgadresbtnl_huisnummer_error" class="error">&nbsp;</div>
      </fieldset>
      <fieldset id="bezorgadresbtnl_huisnummer_toevoegingCtn" class="odd" style="display: none;"><label
        class="req">Toevoeging:</label>

        <div class="input"><input title="Toevoeging" type="text"
                                  name="bezorgadresbtnl_huisnummer_toevoeging" value="" size="10"
                                  maxlength="15" alt="0|varchar|15"></div>
        <div class="error">&nbsp;</div>
      </fieldset>
      <fieldset id="bezorgadresbtnl_straatnaamCtn" class="even"><label class="req">Straatnaam:</label>

        <div class="input"><input title="Straatnaam" type="text" name="bezorgadresbtnl_straatnaam"
                                  value="" size="40" maxlength="100" alt="1|varchar|100"></div>
        <div id="bezorgadresbtnl_straatnaam_error" class="error">&nbsp;</div>
      </fieldset>
      <fieldset id="bezorgadresbtnl_woonplaatsCtn" class="odd"><label class="req">Woonplaats:</label>

        <div class="input"><input title="Woonplaats" type="text" name="bezorgadresbtnl_woonplaats"
                                  value="" size="40" maxlength="100" alt="1|varchar|100"></div>
        <div id="bezorgadresbtnl_woonplaats_error" class="error">&nbsp;</div>
      </fieldset>
      <fieldset id="bezorgadresbtnl_landCtn" class="even"><label class="req">Land:</label>

        <div class="input"><input title="Land" type="text" name="bezorgadresbtnl_land" value="" size="40"
                                  maxlength="100" alt="1|varchar|100"></div>
        <div id="bezorgadresbtnl_land_error" class="error">&nbsp;</div>
      </fieldset>
    </div>
    <!--=============================================== EIND BUITEN NEDERLAND ===============================================-->
    <div class="clear">&nbsp;</div>
  </div>
</div>
<div class="clear">&nbsp;</div>
