<hr class="orangehr">
<div class="accordion-inhoud">
  <div class="accordion-header ">
    <div class="accordion-nr">
      <div class="orangecircle staptracktraceja">6.</div>
    </div>
    <h2 class="h2verzender" data-if=".verzendert">Uw gegevens</h2>
    <h2 class="h2ontvanger" data-if=".ontvangert">Gegevens bezorgadres</h2>
  </div>
  <div class="accordion-content">
    <fieldset id="geslachtCtn" class="even" data-extra="17"><label class="req">Geslacht:</label>

      <div class="input"><input id="51546077e903d371" title="Maak uw keuze" type="radio" name="geslacht"
                                value="M" alt="1|varchar|100"> <label style="font-weight: normal;"
                                                                      for="51546077e903d371">
        <span>&nbsp;</span>
        Man</label> <input id="51546077e90d8271" title="Maak uw keuze" type="radio" name="geslacht"
                           value="V" alt=""> <label style="font-weight: normal;" for="51546077e90d8271">
        <span>&nbsp;</span>
        Vrouw</label></div>
      <div id="geslacht17_error" class="error">&nbsp;</div>
    </fieldset>
    <fieldset id="voornaamCtn" class="odd" data-extra="17"><label class="req">Voornaam:</label>

      <div class="input"><input title="Uw voornaam" type="text" name="voornaam" value="" size="40"
                                maxlength="100" alt="1|varchar|100"></div>
      <div id="voornaam17_error" class="error">&nbsp;</div>
    </fieldset>
    <fieldset id="tussenvoegselCtn" class="even"><label>Tussenvoegsel:</label>

      <div class="input"><input title="Tussenvoegsel" type="text" name="tussenvoegsel" value="" size="4"
                                maxlength="10" alt="0|varchar|10"></div>
      <div class="error">&nbsp;</div>
    </fieldset>
    <fieldset id="achternaamCtn" class="odd" data-extra="17"><label class="req">Achternaam:</label>

      <div class="input"><input title="Uw achternaam" type="text" name="achternaam" value="" size="40"
                                maxlength="100" alt="1|varchar|100"></div>
      <div id="achternaam17_error" class="error">&nbsp;</div>
    </fieldset>
    <fieldset id="postcode_btnlCtn" class="even" data-extra="17"><label class="req">Postcode:</label>

      <div class="input"><input title="Uw postcode" type="text" name="postcode_btnl" value="" size="10"
                                maxlength="10" alt="1|varchar|10"></div>
      <div id="postcode_btnl17_error" class="error">&nbsp;</div>
    </fieldset>
    <fieldset id="huisnummer_btnlCtn" class="odd" data-extra="17"><label class="req">Huisnummer:</label>

      <div class="input"><input title="Uw huisnummer" type="text" name="huisnummer_btnl" value=""
                                size="10" maxlength="10" alt="1|varchar|10"></div>
      <div id="huisnummer_btnl17_error" class="error">&nbsp;</div>
    </fieldset>
    <div class="clear">&nbsp;</div>
    <fieldset id="straatnaam_btnlCtn" class="even" data-extra="17"><label class="req">Straatnaam:</label>

      <div class="input"><input title="Uw straatnaam" type="text" name="straatnaam_btnl" value=""
                                size="40" maxlength="100" alt="1|varchar|100"></div>
      <div id="straatnaam_btnl17_error" class="error">&nbsp;</div>
    </fieldset>
    <fieldset id="woonplaats_btnlCtn" class="odd" data-extra="17"><label class="req">Woonplaats:</label>

      <div class="input"><input title="Uw woonplaats" type="text" name="woonplaats_btnl" value=""
                                size="40" maxlength="100" alt="1|varchar|100"></div>
      <div id="woonplaats_btnl17_error" class="error">&nbsp;</div>
    </fieldset>
    <fieldset id="land_btnlCtn" class="odd" data-extra="17"><label class="req">Land:</label>

      <div class="input"><input title="Land" type="text" name="land_btnl" value="" size="40"
                                maxlength="100" alt="1|varchar|100"></div>
      <div id="land_btnl17_error" class="error">&nbsp;</div>
    </fieldset>
    <fieldset id="emailCtn" class="odd" data-extra="17"><label class="req">E-mailadres:</label>

      <div class="input"><input title="Uw e-mailadres" type="text" name="email" value="" size="40"
                                maxlength="100" alt="1|email|100"></div>
      <div class="vbinput">(gebruiker@domein.nl)</div>
      <div id="email17_error" class="error">&nbsp;</div>
    </fieldset>
    <fieldset id="telefoonnummerCtn" class="even" data-extra="17"><label
      class="req">Telefoonnummer:</label>

      <div class="input"><input title="Uw telefoonnummer" type="text" name="telefoonnummer" value=""
                                size="40" maxlength="20" alt="1|varchar|20">
      </div>
      <div id="telefoonnummer17_error" class="error">&nbsp;</div>
    </fieldset>
    <div class="clear">&nbsp;</div>
  </div>
</div>
<div class="clear">&nbsp;</div>
