<hr class="orangehr">
<div class="accordion-inhoud">
  <div class="accordion-header ">
    <div class="accordion-nr">
      <div class="orangecircle staptracktracenee" data-if=".trackja">6.</div>
      <div class="orangecircle staptracktracenee" data-if="(.tracknee || .trackgeenidee) && .ontvangert">6.</div>
      <div class="orangecircle staptracktracenee"
           data-if="(.tracknee || .trackgeenidee) && .verzendert && !hoeveel_poststukken_mist_u">6.
      </div>
      <div class="orangecircle staptracktracenee" data-if="#hoeveel_poststukken_mist_u_1">7.</div>
      <div class="orangecircle staptracktracenee" data-if="#hoeveel_poststukken_mist_u_meer">9.</div>
    </div>
    <h2 class="h2verzender">Uw gegevens</h2>
  </div>
  <div class="accordion-content">
    <fieldset id="geslachtCtn" class="even" data-extra="7"><label class="req">Geslacht:</label>

      <div class="input"><input id="51546077e903d2" title="Maak uw keuze" type="radio" name="geslacht"
                                value="M" alt="1|varchar|100"> <label style="font-weight: normal;"
                                                                      for="51546077e903d2">
        <span>&nbsp;</span>
        Man</label> <input id="51546077e90d82" title="Maak uw keuze" type="radio" name="geslacht"
                           value="V" alt=""> <label style="font-weight: normal;" for="51546077e90d82">
        <span>&nbsp;</span>
        Vrouw</label></div>
      <div id="geslacht7_error" class="error">&nbsp;</div>
    </fieldset>
    <fieldset id="voornaamCtn" class="odd" data-extra="7">
      <label class="req">Voornaam:</label>

      <div class="input">
        <input title="Uw voornaam" type="text" name="voornaam" value="" size="40"
               maxlength="100" alt="1|varchar|100">
      </div>
      <div id="voornaam7_error" class="error">&nbsp;</div>
    </fieldset>
    <fieldset id="tussenvoegselCtn" class="even"><label>Tussenvoegsel:</label>

      <div class="input"><input title="Tussenvoegsel" type="text" name="tussenvoegsel" value="" size="4"
                                maxlength="10" alt="0|varchar|10"></div>
      <div class="error">&nbsp;</div>
    </fieldset>
    <fieldset id="achternaamCtn" class="odd" data-extra="7"><label class="req">Achternaam:</label>

      <div class="input"><input title="Uw achternaam" type="text" name="achternaam" value="" size="40"
                                maxlength="100" alt="1|varchar|100"></div>
      <div id="achternaam7_error" class="error">&nbsp;</div>
    </fieldset>
    <fieldset id="postcodeCtn" class="even" data-extra="7"><label class="req">Postcode:</label>

      <div class="input"><input title="Uw postcode" type="text" name="postcode" value="" size="8"
                                maxlength="6" alt="1|varchar|6" data-regexp="/^\d{4}[A-Z]{2}$/"></div>
      <div class="vbinput">(0000AA)</div>
      <div id="postcode7_error" class="error">&nbsp;</div>
    </fieldset>
    <fieldset id="huisnummerCtn" class="odd" data-extra="7"><label class="req">Huisnummer:</label>

      <div class="input"><input title="Uw huisnummer" type="text" name="huisnummer" value="" size="4"
                                maxlength="10" alt="1|varchar|10"></div>
      <div id="huisnummer7_error" class="error">&nbsp;</div>
    </fieldset>
    <fieldset id="huisnummer_toevoegingCtn" class="odd"><label class="req">Toevoeging:</label>

      <div class="input"><input title="Toevoeging:" type="text" name="huisnummer_toevoeging" value=""
                                size="4" maxlength="100" alt="0|varchar|100"></div>
      <div class="error">&nbsp;</div>
    </fieldset>
    <div class="clear">&nbsp;</div>
    <fieldset id="straatnaamCtn" class="even" data-extra="7"><label class="req">Straatnaam:</label>
      <div class="input"><input title="Uw straatnaam" type="text" name="straatnaam" value="" size="40"
                                maxlength="100" alt="1|varchar|100"></div>
      <div class="vbinput">(Automatisch gevuld)</div>
      <div id="straatnaam7_error" class="error">&nbsp;</div>
    </fieldset>
    <fieldset id="woonplaatsCtn" class="odd" data-extra="7"><label class="req">Woonplaats:</label>

      <div class="input"><input title="Uw woonplaats" type="text" name="woonplaats" value="" size="40"
                                maxlength="100" alt="1|varchar|100"></div>
      <div class="vbinput">(Automatisch gevuld)</div>
      <div id="woonplaats7_error" class="error">&nbsp;</div>
    </fieldset>
    <fieldset id="emailCtn" class="odd" data-extra="7"><label class="req">E-mailadres:</label>

      <div class="input"><input title="Uw e-mailadres" type="text" name="email" value="" size="40"
                                maxlength="100" alt="1|email|100"></div>
      <div class="vbinput">(gebruiker@domein.nl)</div>
      <div id="email7_error" class="error">&nbsp;</div>
    </fieldset>
    <fieldset id="telefoonnummerCtn" class="even" data-extra="7"><label
      class="req">Telefoonnummer:</label>

      <div class="input"><input title="Uw telefoonnummer" type="text" name="telefoonnummer" value=""
                                size="40" maxlength="10" alt="1|varchar|10" data-regexp="/^\d{10}$/">
      </div>
      <div class="vbinput">(0701234567)</div>
      <div id="telefoonnummer7_error" class="error">&nbsp;</div>
    </fieldset>
    <div class="clear">&nbsp;</div>
  </div>
</div>
<div class="clear">&nbsp;</div>
