<hr class="orangehr">
<div class="accordion-inhoud">
  <div class="accordion-header ">
    <div class="accordion-nr">
      <div class="orangecircle staptracktraceja" data-if=".trackja">5.</div>
      <div class="orangecircle staptracktraceja" data-if=".lost-package && !.trackja">4.</div>
      <div class="orangecircle staptracktraceja" data-if="!.lost-package && !.trackja">5.</div>
    </div>
    <h2>Bent u de verzender of ontvanger?</h2>
  </div>
  <div class="accordion-content">
    <fieldset id="verzender_ontvangerCtn" class="even">
      <div class="input">
        <input id="51546077ea0e6" class="verzendert" title="Maak uw keuze" type="radio"
               name="verzender_ontvanger" value="Verzender" alt="1|varchar|100">
        <label style="font-weight: normal;" for="51546077ea0e6"><span>&nbsp;</span>Verzender</label>
        <input id="51546077ea16b" class="ontvangert" title="Maak uw keuze" type="radio" name="verzender_ontvanger"
               value="Ontvanger" alt="">
        <label style="font-weight: normal;" for="51546077ea16b"><span>&nbsp;</span>Ontvanger</label>
      </div>
      <div id="verzender_ontvanger_error" class="error">&nbsp;</div>
    </fieldset>
    <div class="clear">&nbsp;</div>
  </div>
</div>
<div class="clear">&nbsp;</div>
