<hr class="orangehr">
<div class="accordion-inhoud">
  <div class="accordion-header ">
    <div class="accordion-nr">
      <div class="orangecircle staptracktraceja">6.</div>
    </div>
    <h2>Heeft u vaker post naar dit adres gestuurd?</h2>
  </div>
  <div class="accordion-content">
    <fieldset id="heeft_u_vaker_post_naar_dit_adres_gestuurdCtn" class="even">
      <div class="input">
        <input id="vaker_post_adres_gestuurd_ja" class="vaker_post_adres_gestuurd"
               title="Heeft u vaker post naar dit adres gestuurd?" type="radio"
               name="vaker_post_adres_gestuurd" value="Ja"
               alt="1|varchar|100">
        <label style="font-weight: normal;" for="vaker_post_adres_gestuurd_ja">
          <span>&nbsp;</span>Ja
        </label>

        <input id="vaker_post_adres_gestuurd_nee" class="vaker_post_adres_gestuurd"
               title="Heeft u vaker post naar dit adres gestuurd?" type="radio"
               name="vaker_post_adres_gestuurd" value="Nee" alt="1|varchar|100">
        <label style="font-weight: normal;" for="vaker_post_adres_gestuurd_nee">
          <span>&nbsp;</span>Nee
        </label>

      </div>
      <div id="vaker_post_adres_gestuurd_error" class="error">&nbsp;</div>
    </fieldset>
    <div class="clear">&nbsp;</div>
  </div>
</div>
<div class="clear">&nbsp;</div>
