  <hr class="orangehr">
  <div class="accordion-inhoud">
    <div class="accordion-header ">
      <div class="accordion-nr">
        <div class="orangecircle staptracktraceja">8.</div>
      </div>
      <h2>Waar heeft u deze poststukken afgeleverd?</h2>
    </div>
    <div class="accordion-content">
      <fieldset id="straatnaam_locatieCtn">
        <label class="req">Straatnaam:</label>

        <div class="input">
          <input type="text" name="straatnaam_locatie" value="" size="40" maxlength="100" alt="0|varchar|100">
        </div>
        <div id="straatnaam_locatie_error" class="error">&nbsp;</div>
      </fieldset>
      <fieldset id="woonplaats_locatieCtn">
        <label class="req">Woonplaats:</label>

        <div class="input">
          <input type="text" name="woonplaats_locatie" value="" size="40" maxlength="100" alt="0|varchar|100">
        </div>
        <div id="woonplaats_locatie_error" class="error">&nbsp;</div>
      </fieldset>
      <div class="info" style="margin-top: 50px; clear: both;">
        <span class="boldinfo">Let op:</span>
        U kunt het adres van uw aanbiedlocatie eenvoudig opzoeken met onze
        <a href="http://www.postnl.nl/locatiewijzer/" target="_blank">locatiewijzer</a>.
      </div>
      <div class="clear">&nbsp;</div>
    </div>
  </div>
  <div class="clear">&nbsp;</div>
