<hr class="orangehr">
<div class="accordion-inhoud">
  <div class="accordion-header ">
    <div class="accordion-nr">
      <div class="orangecircle staptracktraceja">7.</div>
    </div>
    <h2>Vanaf welke locatie heeft u de post verstuurd?</h2>
  </div>
  <div class="accordion-content">
    <fieldset id="locatie_typeCtn" data-extra="locType" class="even">
      <div class="input">
        <input id="locatie_type_retail" class="locatie_type_retail" title="Maak uw keuze"
               type="radio" name="locatie_type" value="Retail locatie" alt="1|varchar|100">
        <label style="font-weight: normal;" for="locatie_type_retail">
          <span>&nbsp;</span>Retail locatie
        </label>

        <input id="locatie_type_postkantoor" class="locatie_type_postkantoor" title="Maak uw keuze"
               type="radio" name="locatie_type" value="Postkantoor">
        <label style="font-weight: normal;" for="locatie_type_postkantoor">
          <span>&nbsp;</span>Postkantoor
        </label>

        <input id="locatie_type_oranje_brievenbus" class="locatie_type_oranje_brievenbus" title="Maak uw keuze"
               type="radio" name="locatie_type" value="Oranje Brievenbus">
        <label style="font-weight: normal;" for="locatie_type_oranje_brievenbus">
          <span>&nbsp;</span>Oranje Brievenbus
        </label>

        <input id="locatie_type_bupo_buba" class="locatie_type_bupo_buba" title="Maak uw keuze"
               type="radio" name="locatie_type" value="BUPO/BUBA">
        <label style="font-weight: normal;" for="locatie_type_bupo_buba">
          <span>&nbsp;</span>BUPO/BUBA
        </label>

        <input id="locatie_type_postnl_sorteercentrum" class="locatie_type_postnl_sorteercentrum" title="Maak uw keuze"
               type="radio" name="locatie_type" value="PostNL sorteercentrum">
        <label style="font-weight: normal;" for="locatie_type_postnl_sorteercentrum">
          <span>&nbsp;</span>PostNL sorteercentrum
        </label>
      </div>
      <div id="locatie_typelocType_error" class="error">&nbsp;</div>
    </fieldset>
    <div class="clear">&nbsp;</div>
  </div>
</div>
<div class="clear">&nbsp;</div>
