<hr class="orangehr">
<div class="accordion-inhoud">
  <div class="accordion-header ">
    <div class="accordion-nr">
      <div class="orangecircle">2.</div>
    </div>
    <h2>
      Heeft de zending een
      <a class="tooltiplink" href="#" rel="tooltip" data-reveal-id="code"
        title="Een Track &amp; Trace-code is het registratienummer van een pakket of aangetekende brief. U vindt deze op het verzendbewijs of bijvoorbeeld in de e-mail van de online winkel waar u wat heeft gekocht. De code begint met ">
        Track &amp; Trace
      </a>
      code?
    </h2>
  </div>
  <div class="accordion-content" style="width: 658px; overflow: hidden;">
    <fieldset id="track_traceCtn" class="odd">
      <div class="input">
        <input id="51546077e9ea1" class="trackja" title="Maak uw keuze" type="radio"
                name="track_trace" value="Ja" alt="1|varchar|100">
        <label style="font-weight: normal;" for="51546077e9ea1"><span>&nbsp;</span> Ja</label>
        <input id="51546077e9f22" class="tracknee" title="Maak uw keuze" type="radio"
                          name="track_trace" value="Nee" alt="">
        <label style="font-weight: normal;" for="51546077e9f22"><span>&nbsp;</span>Nee, zending heeft geen code</label>
        <input id="52b15c41a8a80" class="trackgeenidee"
              title="Maak uw keuze" type="radio" name="track_trace"
              value="Ik weet de code niet (meer)" alt="">
        <label style="font-weight: normal;" for="52b15c41a8a80"><span>&nbsp;</span>Ik weet de code niet (meer)</label>
      </div>
      <div id="track_trace_error" class="error">&nbsp;</div>
    </fieldset>
    <!--- Track & Trace -->

    <!-- Track & Trace NOPE -->
    <div class="tracktracenope" data-if=".tracknee || .trackgeenidee">
      <div class="info" style="display: block; margin-top: 50px; clear: both;">
        <font class="boldinfo">Let op:</font>
        Vraag de verzender om het Track &amp; Trace nummer of bel met de Klantenservice.<br>
        <font class="boldinfo">Track &amp; Trace?</font> Waar vindt u deze?
        <a class="tonenvoorbeeld" title="Voorbeelden 2S/3S en KG code" href="#" data-reveal-id="code">
          Bekijk de voorbeelden
        </a>.
      </div>
    </div>

    <!-- Track & Trace JA -->
    <div class="tracktrace" data-if=".trackja">
      <fieldset id="track_trace_invulveldCtn" class="even">
        <label class="req">Vul hier uw<br> Track &amp; Trace code in:</label>
        <div class="input">
          <input title="Uw Track &amp; Trace code" type="text"
                name="track_trace_invulveld" value="" size="40" maxlength="100"
              alt="1|varchar|100">
        </div>
        <div id="track_trace_invulveld_error" class="error">&nbsp;</div>
        <div class="info" style="display: block; margin-top: 50px; clear: both;">
          Via Track &amp; Trace kunt u de status van de verzending van uw pakket bekijken.<br>
          <a title="Controleer hier de status van je zending" href="https://jouw.postnl.nl"
            target="_blank">Controleer hier de status van je zending.
          </a>
          <br><br>
          <font class="boldinfo">Let op:</font>
          om u te kunnen helpen is het van belang dat u de code opzoekt of opvraagt bij de verzender.
          <br>
          <font class="boldinfo">Track &amp; Trace?</font> Waar vindt u deze?
          <a class="tonenvoorbeeld" title="Voorbeelden 2S/3S en KG code" href="#" data-reveal-id="code">
            Bekijk de voorbeelden.
          </a>
        </div>
      </fieldset>
    </div>
    <!-- EIND TRACK --></div>
  <div class="clear">&nbsp;</div>
</div>
<div class="clear">&nbsp;</div>
