<form class="js-show-me-if" method="post" onsubmit="return checkForm(this);"
      action="https://cendris-postnl.custom.webpower.eu/klantenservice/page/klantenservice-email/vraag-consument/form1/verzenden">
  <input type="hidden" name="uw_vraag" value="Verzenden of ontvangen van post of pakketten" size="60" maxlength="100">
  <input name="vkcs" value="{/literal}{$smarty.get.vkcs|default:''}{literal}" maxlength="100" type="hidden" />
  <input type="hidden" name="klant_id" value="20150402100038" size="60" maxlength="100" alt="1|varchar|100">
  <input type="hidden" name="consument_zakelijk" value="Consument" alt="1|varchar|100">
  <input type="hidden" name="werkdagen" value="2" size="40" maxlength="100" alt="1|varchar|100">

  <div class="info" style="background-position: 10px 20px, top left;">
    Let op: Alle velden zijn verplicht!<br>
    Controleer door middel van onderstaande afbeeldingen of uw post via PostNL is
    verzonden. Herkent u de kleding van de postbezorger van PostNL, de
    frankeeraanduiding en/of de getoonde barcode, dan kunt u uw vraag of klacht bij
    PostNL indienen. Vragen over andere post- en pakketbezorgers kunnen wij helaas niet in behandeling nemen.
    <a class="linkherkenbaarheid" title="Controleer of uw post met PostNL is verstuurd" href="#">
      Controleer of uw post met PostNL is verstuurd
    </a>
    <div class="imgherkenbaarheid" style="display: none; margin-top: 10px;">
      <img class="imgherkenbaarheidresponsive" src="/mailings/SHARED/Klantenservice/images/klantenservice_banner_4.jpg" alt="Herkenbaarheid PostNL" border="0">
    </div>
  </div>
  <div id="accordion-container"><!-- ACCORDION CONTAINER START --><!-- 1 ==-->
    <hr class="orangehr">
    <div class="accordion-inhoud">
      <div class="accordion-header ">
        <div class="accordion-nr">
          <div class="orangecircle">1.</div>
        </div>
        <h2>Waarover wilt u contact?</h2>
      </div>

      <div class="accordion-content">
        <fieldset id="vraagover_verzenden_ontvangen_post_pakkettenCtn" class="odd">
          <div class="input">
            <input id="51546077e9956" class="anders" title="Maak uw keuze" type="radio"
                  name="vraagover_verzenden_ontvangen_post_pakketten" value="Verkeerd bezorgde post of pakketten" alt="1|varchar|100">
            <label style="font-weight: normal;" for="51546077e9956"><span>&nbsp;</span>Verkeerd bezorgde post of pakket</label>
            <br>
            <input id="51546077e9c62" class="anders" title="Maak uw keuze" type="radio"
                   name="vraagover_verzenden_ontvangen_post_pakketten" value="Status van de zending" alt="">
            <label style="font-weight: normal;" for="51546077e9c62"><span>&nbsp;</span>Status van de zending</label>
            <br>
            <input id="51546077e9a5c" class="anders lost-package" title="Maak uw keuze" type="radio"
                   name="vraagover_verzenden_ontvangen_post_pakketten" value="Niet ontvangen post of pakket" alt="">
            <label style="font-weight: normal;" for="51546077e9a5c"><span>&nbsp;</span>Niet ontvangen post of pakket</label>
            <br>
            <input id="51546077e9adf" class="anders" title="Maak uw keuze" type="radio"
                   name="vraagover_verzenden_ontvangen_post_pakketten" value="Beschadigd ontvangen post of pakket" alt="">
            <label style="font-weight: normal;" for="51546077e9adf"><span>&nbsp;</span>Beschadigd ontvangen post of pakket</label>
            <br>
            <input id="51546077e9b62" class="anders" title="Maak uw keuze" type="radio"
                   name="vraagover_verzenden_ontvangen_post_pakketten" value="Kennisgevingsbericht bij niet thuis" alt="">
            <label style="font-weight: normal;" for="51546077e9b62"><span>&nbsp;</span>Kennisgevingsbericht bij niet thuis</label>
            <br>
            <input id="51546077e9be2" class="anders" title="Maak uw keuze" type="radio"
                   name="vraagover_verzenden_ontvangen_post_pakketten" value="Gedrag van de bezorger" alt="">
            <label style="font-weight: normal;" for="51546077e9be2"><span>&nbsp;</span>Gedrag van de bezorger</label>
            <br>
            <input id="51546077e99dc" class="anders" title="Maak uw keuze" type="radio"
                   name="vraagover_verzenden_ontvangen_post_pakketten" value="Te laat bezorgde post of pakket" alt="">
            <label style="font-weight: normal;" for="51546077e99dc"><span>&nbsp;</span>Te laat bezorgde post of pakket</label>
            <br>
            <input id="51546077e9ce1" class="portokaart" title="Maak uw keuze" type="radio"
                   name="vraagover_verzenden_ontvangen_post_pakketten" value="Portokaart" alt="">
            <label style="font-weight: normal;" for="51546077e9ce1"><span>&nbsp;</span>Portokaart</label>
            <!--<br/>-->
            <!--<input id="overige_6_keuzes" class="overige_6_keuzes" title="Maak uw keuze" type="radio" checked-->
                   <!--name="vraagover_verzenden_ontvangen_post_pakketten" value="Overige 6 Keuzes" alt="">-->
            <!--<label style="font-weight: normal;" for="overige_6_keuzes"><span>&nbsp;</span>Overige 6 Keuzes</label>-->
          </div>
          <div id="vraagover_verzenden_ontvangen_post_pakketten_error" class="error">&nbsp;</div>
        </fieldset>
        <div class="clear">&nbsp;</div>
      </div>
    </div>
    <!-- Eind 1 -->

    <div class="clear">&nbsp;</div>

    <div class="portokaartvelden" data-if=".portokaart">
      @@include('./steps/portokaart.html')
    </div>

    <div class="others" data-if=".anders || .overige_6_keuzes">
       @@include('./steps/others.html')
    </div>

    <hr class="orangehr">
    <input class="submitbutton" type="submit" value=""></div>
</form>
